
.myheader {
    background-color: aqua
}

.title {
    font-style: none;
    font-size: 50px;
    text-shadow: 2px 2px white;
    color: rgb(14, 13, 13);
    float: left;
    padding-left: 2%;
    padding-top: 0%;
}

.kiwi {
    width:80px;
    height:80px;
    padding-top: 1%;
    padding-left: 1%;
  }

.subheader {
    padding-left: 2%;
    padding-top: 2%;
}

.wrapper {
    display: flex;
    color: black;
    margin-top: 2rem;
    margin-left: 1.5rem;
    padding: 0.5rem;
    width: 60%;
    height: 300px;
    border-radius: 0.2rem;
    background-color: white;
    border-color: rgb(248, 244, 244);
    border-style: dashed;
  }

  .picture {
      border-radius: 8px;
      width:340px;
      float:left
  }

  .details {
      padding-left: 3%;
      padding-top:3%;
      font-size:25px;
  }

  .address {
    padding-left: 3%;
    font-size:15px;
  }
  
 .button{
     padding-left:30%;
     padding-top:8%;
 }


